<div class="container mt-5" style="max-width: 400px;">
  <h3 class="text-center mb-4">Login</h3>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="mb-3">
      <label>Email</label>
      <input class="form-control" type="email" formControlName="email" />
    </div>

    <div class="mb-3">
      <label>Password</label>
      <input class="form-control" type="password" formControlName="password" />
    </div>

    <button class="btn btn-primary w-100" type="submit" [disabled]="!loginForm.valid">Login</button>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  </form>

  <div class="text-center mt-3">
    <a routerLink="/signup">Don’t have an account? Sign Up</a>
  </div>
</div>
